<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.se1503_prm392">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SE1503PRM392">
        <activity
            android:name=".Slot13Bundle.ImplicitIconToURLActivity"
            android:exported="false" />
        <activity
            android:name=".lab04.BookingFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Slot13Bundle.SecondActivitySlot13"
            android:exported="false" />
        <activity
            android:name=".Slot13Bundle.MainActivitySlot13"
            android:exported="false" />
        <activity
            android:name=".Slot9PassingData.IntentExplicitSecondActivity"
            android:exported="false" />
        <activity
            android:name=".Slot10CustomizedAdapter.TraiCayActivity"
            android:exported="false" />
        <activity
            android:name=".lab04.DrinkActivity"
            android:exported="false" />
        <activity
            android:name=".lab04.FoodActivity"
            android:exported="false" />
        <activity
            android:name=".Slot9PassingData.IntentExplicitFirstActivity"
            android:exported="false" />
        <activity
            android:name=".Slot12Activity.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".Slot12Activity.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewDemoSlot6"
            android:exported="false" />
        <activity
            android:name=".lab0301.SoccerActivity"
            android:exported="false" />
        <activity
            android:name=".lab0302.FruitActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".lab0501.UserActivity"
            android:exported="false" />
        <activity
            android:name=".lab0602.PopupMenuActivityLab0602"
            android:exported="false" />
        <activity
            android:name=".lab0601.MenuActivityLab0601"
            android:exported="false" />
        <activity
            android:name=".lab0502.Lab0502OperatingSystemActivity"
            android:exported="false" />
        <activity
            android:name=".lab0603.ContextMenuActivityLab0603"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>